//- html
//-   head
//-     title Welcome #{name} to Quick-job!
//-   body
//-     h1 Welcome #{name} to Quick-job!
//-     p Hi there,

//-     p This is your ativation code: 
//-     h2 #{token}

//-     p If you didn't request this, please ignore it.

//-     p Thanks,
//-     p The Quick-job Team

html
  head
    title Email Verification
  body
    h1 Welcome #{name} to Quick-job! 
    h2 Email Verification

    p Hi there,

    p Please verify your email by clicking the link below:

    //- Render the link
    h2 Your verification token is:
    h1 #{token}

    p If you didn't request this, please ignore this email.

    p Thanks,
    p The Quick-job Team


